service: aws-fivetran-connector-template

frameworkVersion: '3'

provider:
  name: aws
  runtime: python3.8

functions:
  aws-fivetran-connector:
    handler: handler.lambda_handler

plugins:
  - serverless-python-requirements